  <key>guidelines</key>
  <array/>
  <key>woffMetadataCredits</key>
  <dict>
    <key>credits</key>
    <array>
      <dict>
        <key>name</key>
        <string>Dev NLCI</string>
        <key>role</key>
        <string>NLCI designers and font engineers</string>
        <key>url</key>
        <string>http://www.nlci.in/fonts/</string>
      </dict>
    </array>
  </dict>
  <key>woffMetadataDescription</key>
  <dict>
    <key>text</key>
    <array>
      <dict>
        <key>text</key>
